body{
    margin: 30px;
    color: #ffffff;
    background-color: #262b30;
}

#controls{
}

#renderer{
    min-height: 600px;
}

#all{
    border: 1px solid blue;
}

#main-container{
    height: 100%;
}
